body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
    background-color: greenyellow;

}

.container{
    padding: 20px;
    text-align:center;
    background-color:white;
    border: 8px solid black;
    border-radius: 50px;
    

}

input{
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 10px;

}

button{
    padding:10px 20px;
    background-color: #4CAF50;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: yellow;
}

#result{
    margin-top: 20px;
    font-size: 18px;
}